<style>
  .navbar {
    background-color: #9CA986;
  }

  .navbar-brand, .nav-link {
    color: #000 !important;
  }

  .nav-link:hover {
    background-color: #9CA986;
    color: #fff !important;
  }

  .btn-primary, .btn-secondary {
    background-color: #9CA986;
    border-color: #9CA986;
    color: #000;
  }

  .btn-primary:hover, .btn-secondary:hover {
    background-color: #5F6F65;
    border-color: #5F6F65;
    color: #fff;
  }

  .table {
    background-color: #ffffff; /* Color de fondo blanco */
    color: #000; /* Color de texto negro */
    border: 2px solid #9CA986; /* Borde de la tabla */
  }

  .table th {
    background-color: #9CA986; /* Color de fondo de los encabezados */
    color: #000; /* Color del texto en los encabezados */
  }

  .table tbody tr:hover {
    background-color: #5F6F65; /* Color al pasar el mouse sobre las filas */
  }

  .table td, .table th {
    padding: 15px; /* Espaciado interno */
  }

  .btn-danger {
    background-color: #dc3545; /* Rojo para botón eliminar */
    border: none;
  }

  .btn-success {
    background-color: #28a745; /* Verde para botón editar */
    border: none;
  }

  .btn-group .btn {
    margin-right: 5px; /* Espaciado entre botones */
  }
</style>

<p>ERES EL FOKIN ADMIN</p>
<h1>Eres admin, has ganado {{total}}</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td><img src="{{this.image}}" class="rounded-circle" height="30" width="30" /></td>
        <td>{{this.name}}</td>
        <td>{{this.price}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <form action="/products/delete/{{this.id}}" method="POST">
              <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
            <button type="button" class="btn btn-success">
              <a href="/products/editar/{{this.id}}" class="text-white">Editar</a>
            </button>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
