<h1 class="producto">Catálogo Multiversal</h1>

<div class="container">
  <div class="row">
    {{#each lista}}
      <div class="col-12 col-md-4 d-flex align-items-stretch mb-3">
        <div class="card" style="width: 18rem;">
          <img src="{{this.image_path}}" class="card-img-top" alt="{{this.name}}">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.description}}</p>
            <a href="#" class="btn btn-seconary">${{this.price}}</a>
            <a href="/cart" class="btn btn-primary">Añadir al carrito</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
